@model MVCKnockout.Web.ViewModels.SalesOrderViewModel
@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Details";
}

@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts
{
    <script type="text/javascript" src="~/Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/salesorderviewmodel.js"></script>    
    <script type="text/javascript">
        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        ko.applyBindings(salesOrderViewModel);
    </script>
}

<h2>@ViewBag.Title</h2>

<p data-bind="text: MessageToClient"></p>
<div>
    <div>
        <label>Customer Name</label>
        <span data-bind="text: CustomerName"></span>
    </div>
    <div>
        <label>P.O. Number</label>
        <span data-bind="text: PONUmber"></span>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
